.page-header {
    font-preset: page-header;
}

.header-bold {
    font-preset: header-bold;
    color: blue;
}

.header-light {
    font-preset: header-light;
    color: green;
}

.introduction {
    font-preset: introduction;
}

.medium {
    font-preset: medium;
    color: red;
}

.paragraphs {
    font-preset: paragraphs;
}

.small {
    font-preset: small;
}

.button {
    padding: 1rs 2rs 1.8rs 2rs;
    margin-top: 1rs;
    margin-bottom: .2rs;
    background-color: red;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-preset: small;
    text-transform: uppercase;
    color: white;
}