.page-header {
    /*padding-top: .5rs;*/
    /*padding-bottom: .5rs;*/
    font-preset: page-header;
}

.page-header {
    font-preset: page-header;
    /*padding-top: .5rs;*/
    /*padding-bottom: .5rs;*/
}

.header-bold {
    font-preset: header-bold;
    color: blue;
}

.header-light {
    font-preset: header-light;
    color: green;
}

.introduction {
    font-preset: introduction;
}

.medium {
    font-preset: medium;
    color: red;
}

.paragraphs {
    font-preset: paragraphs;
}

.small {
    font-preset: small;
}
